@font-face {
    font-family: font1;
    src: url("ModernWarfare-OV7KP.ttf");
}

@font-face {
    font-family: font2;
    src: url("MouldyCheeseRegular-WyMWG.ttf");
}

@font-face {
    font-family: font3;
    src: url("OmegleRegular-owopB.ttf");
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

body {
    background-color: rgb(0, 0, 0);
}

.nav {
    display: flex;
    padding: 20px 20px;
    justify-content: flex-end;
    align-items: center;
}


.nav li {
    font-family: font2;
    display: inline-flex;
    padding: 12px 19px;
    border-radius: 5px;
}

.nav li:hover {
    background-color: orangered;
    color: black;
    transition: 0.3s;
}

.nav li a {
    list-style: none;
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 19px;
}

.nav li a:hover {
    color: black;
    transition: 0.3s;
}


.sub{position:absolute; top:25vw;}

.sub_p{
	position:absolute;
	width:30vw;
    color: white;
    font-family: font3;
    font-size: 35px;
    top:1vw;
    left:-40vw;
    z-index:4000;
    animation:1s anm2 forwards;
}

.stylish_p{position:absolute;
	font-family: font1;
    top:23vw;
    font-size: 195px;
    text-align: left;
    padding-left: 30px;
    padding-top: 35px;
    line-height: 0.8;
    color: white;
    opacity:1;
    z-index:250;
    animation:1s anm forwards;
    }
   
.hide_anm_help{position:absolute; height:10vw; width:80vw; background-color:black; top:24vw; left:2vw; z-index:300;} 

@keyframes anm{from{top:23vw;} to{top:15vw;}}
@keyframes anm2{from{left:-40vw;} to{left:5vw;}}






























